<!DOCTYPE html>
<html>
<head><title>Test</title></head>
<body>
    <h2>Hangi ülke mutfağını istersiniz?</h2>
    <form method="post">
        <label><input type="radio" name="country" value="İtalya"> İtalya</label><br>
        <label><input type="radio" name="country" value="Polonya"> Polonya</label><br>
        <label><input type="radio" name="country" value="Türkiye"> Türkiye</label><br><br>

        <h2>Beslenme tarzın nedir?</h2>
        <label><input type="radio" name="diet" value="Vegan"> Vegan</label><br>
        <label><input type="radio" name="diet" value="Vejetaryen"> Vejetaryen</label><br>
        <label><input type="radio" name="diet" value="Hepçil"> Hepçil</label><br>
        <label><input type="radio" name="diet" value="Pesketaryen"> Pesketaryen</label><br><br>

        <button type="submit">Sonucu Göster</button>
    </form>
</body>
</html>